<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Fond detail</title>
</head>
<body>
	
	
	
	<div>
		<h1 th:value="${fond.name}">Fond detail</h1>
		<a th:href="@{/investment/}" >Back</a>
		<div>	
			<label for="fondIsin">ISIN</label>
			<input type="text" id="fondIsin" name="isin" th:value="${fond.isin}"  readonly="readonly" />
		</div>
		
		
		<div>
			<label for="fondStartDate">Start date</label>
				<!-- Double bracket - it will use formatter registered globally - LocalDateConverter -->
			<input type="text" id="fondStartDate" name="startDate" th:value="${{fond.startDate}}" value="132" readonly="readonly" />
		
			<label for="fondEndDate">End date</label>
			<!-- Double bracket - it will use formatter registered globally - LocalDateConverter -->
			<input type="text" id="fondEndDate" name="endDate" th:value="${{fond.endDate}}" value="132" readonly="readonly" />
		</div>
		
		
		<div>
			<label for="fondAmountOfPay">Pay amount</label>
			<input type="text" id="fondAmountOfPay" name="amountOfPay" th:value="${fond.amountOfPay}" value="132" readonly="readonly" />
			
			<label for="fondFeePct">Fee (%)</label>
			<input type="text" id="fondFeePct" name="feePct" th:value="${fond.feePct*100}" value="123" readonly="readonly" />
		</div>
		
		<div>
			<label for="fondDayOfPay">Day of pay</label>
			<input type="text" id="fondDayOfPay" name="dayOfPay" th:value="${fond.dayOfPay}" value="13" readonly="readonly"/>
			
			<label for="fondPaymentRecurrence">Recurrence</label>
			<input type="text" id="fondPaymentRecurrence" name="paymentRecurrence" th:value="${fond.paymentRecurrence}" value="13" readonly="readonly"/>
		</div>
	</div>
	
	<!-- Fond actions -->
	<div>
		<a th:href="@{/investment/fond/{id}/edit?backUrl={backUrl}(id=${fond.id},backUrl=${#httpServletRequest.requestURI})}" role="button">Edit</a>
		<a th:href="@{/investment/fond/{id}/delete?backUrl={backUrl}(id=${fond.id},backUrl=${#httpServletRequest.requestURI})}" role="button">Delete</a>
	</div>
	
	<div>
		<h2>Fond value</h2>
		
		<div>
			<form th:formaction="@{/investment/fond/{id}(id=${fond.id})}" method="GET">
				<label for="enteredUnitValue">Unit Value</label>
				<input type="text" id="enteredUnitValue" name="enteredUnitValue" th:value="${enteredUnitValue}"/>
				
				<label for="valueDate">Value date</label>
				<input type="text" id="valueDateIn" name="valueDateIn" th:value="${valueDate}"/>
				
				<input type="submit" value="Recalculate" />
			</form>
		</div>
			
		<hr />
		<div th:object="${fondValue}">
			<div>
				<label for="forUnitPrice">For unit price</label>
				<input type="text" id="forUnitPrice" name="unitPrice" th:value="*{unitPrice}" value="13" readonly="readonly"/>
				
				<label for="valueDate">Value date</label>
				<input type="text" id="valueDate" name="valueDate" th:value="*{{valueDate}}" value="13" readonly="readonly"/>
				
				<label for="fondOwnedUnits">Owned units</label>
				<input type="text" id="fondOwnedUnits" name="ownedUnits" th:value="*{ownedUnits}" value="17" readonly="readonly"/>
			</div>
			
			<div>
				<label for="fondTotalInvest">Total amount invested</label>
				<input type="text" id="fondTotalInvest" name="totalInvest" th:value="*{totalInvest}" value="14" readonly="readonly"/>
				
				<label for="fondTotalBuyPrice">Buy value</label>
				<input type="text" id="fondTotalBuyPrice" name="totalBuyPrice" th:value="*{totalBuyPrice}" value="15" readonly="readonly"/>
				
				<label for="fondTotalFees">Fees</label>
				<input type="text" id="fondTotalFees" name="totalFees" th:value="*{totalFees}" value="16" readonly="readonly"/>
			</div>
			
			<div>
				<label for="fondTotalValue">Fond Value</label>
				<input type="text" id="fondTotalValue" name="totalFondValue" th:value="*{totalFondValue}" value="16" readonly="readonly"/>
				
				<label for="fondCleanProfit">Clean profit</label>
				<input type="text" id="fondCleanProfit" name="profit" th:value="*{profit}" value="16" readonly="readonly"/>
				
				<label for="fondProfit">Fond profit</label>
				<input type="text" id="fondProfit" name="actualFondProfit" th:value="*{{actualFondProfit}}" value="16" readonly="readonly"/>
			</div>
			
		</div>
	</div>
	
	<div>
		<form action="#" method="get">
				<input type="submit" th:formaction="@{/investment/fond/{id}/createPayment(id=${fond.id})}" value="New Payment" />
			</form>
	</div>
	
	
	<div>
		<h2>Payments</h2>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Buy price</th>
					<th>Fee</th>
					<th>Unit price</th>
					<th>Purchased units</th>
					<th colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fondPayment : ${fondPayments}">
					<td th:text="${{fondPayment.dateOfPurchase}}">11.1.2020</td>
					<td th:text="${fondPayment.buyPrice}"></td>
					<td th:text="${fondPayment.fee}"></td>
					<td th:text="${{fondPayment.unitPrice}}"></td>
					<td th:text="${fondPayment.purchasedUnits}"></td>
					<td><a th:href="@{/investment/fond/{id}/fondPayment/{fondPaymentId}/edit(id=${fond.id},fondPaymentId=${fondPayment.id})}">Edit</a></td>
					<td><a th:href="@{/investment/fond/{id}/fondPayment/{fondPaymentId}/delete(id=${fond.id},fondPaymentId=${fondPayment.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>