<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Water usage</title>
	</head>	
	<body>
	
	<form th:action="@{/water/}" method="post" th:object="${waterUsage}">
		<table border="1">
			<tr>
				<td><label for="meas">Merane</label></td>
				<td><input id="meas" type="text" th:field="*{measured}" /></td>
				<td th:if="${#fields.hasErrors('measured')}"><p th:errors="*{measured}">Incorrect date</p></td>
			</tr>
			<tr>
				<td><label for="wu">Tepla voda</label></td>
				<td><input id="wu" type="text" th:field="*{warmUsage}" /></td>
				<td th:if="${#fields.hasErrors('warmUsage')}"><p th:errors="*{warmUsage}">Incorrect date</p></td>
			</tr>
			<tr>
				<td><label for="cu">Studena voda</label></td>
				<td><input id="cu" type="text" th:field="*{coldUsage}" /></td>
				<td th:if="${#fields.hasErrors('coldUsage')}"><p th:errors="*{coldUsage}">Incorrect date</p></td>
			</tr>
			<tr>
				<td />
				<td><input type="submit" value="Odoslať"/></td>
			</tr>
		</table>
	</form>
	
	<ul th:if="${validationErrors !=null}">
		<li th:each="err : ${validationErrors}" th:text="#{${err.errorCode}}">validacia</li>
	</ul>
	
	
	<table border="1">
		<tr>
			<th>Merané</th>
			<th>Stav teplá</th>
			<th>Stav studená</th>
			<th>Dní</th>
			<th>Teplá za obdobie</th>
			<th>Studená za obdobie</th>
			<th>Teplá na deň</th>
			<th>Studená na deň</th>
		</tr>
		<tr th:each="row : ${usages}">
			<td th:text="${#temporals.format(row.measured, 'dd.MM.yyyy')}"></td>
			<td th:text="${#numbers.formatDecimal(row.warmUsage, 1, 3)}"></td>
			<td th:text="${#numbers.formatDecimal(row.coldUsage, 1, 3)}"></td>
			<td th:text="${row.numberOfDays}"></td>
			<td th:text="${#numbers.formatDecimal(row.diffWarm, 1, 3)}"></td>
			<td th:text="${#numbers.formatDecimal(row.diffCold, 1, 3)}"></td>
			<td th:text="${#numbers.formatDecimal(row.warmPerDay, 1, 4)}"></td>
			<td th:text="${#numbers.formatDecimal(row.coldPerDay, 1, 4)}"></td>
		</tr>
	</table>

	</body>
</html>
