<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'x'">Year summary</title>
	</head>
	
	<body>
		<h2 th:text="'Year summary for ' + ${year}">A</h2>

	<table style="width:600px" border="1">
		<tr>
			<td width="30%">
				<a  th:if="${previousYear != null}" th:href="@{/expense/year/{yr}(yr=${previousYear})}"
					th:text="'Previous ' + ${previousYear}">Previous</a>&nbsp;
			</td>
			<td>
				<a th:href="@{/expense/current}">Current Month</a>
			</td>
			<td>
				Current year
			</td>
			<td width="30%">
				<a th:if="${nextYear != null}"  th:href="@{/expense/year/{yr}(yr=${nextYear})}"
					th:text="'Next ' + ${nextYear}">Next</a>&nbsp;
			</td>
		</tr>
	</table>



	<div th:if="${yearSummary != null}">
			<table>
				<tr>
					<th th:each="sum : ${yearSummary}" th:text="${sum.expenseTypeLabel}" />
				</tr>
				<tr>
					<td th:each="sum : ${yearSummary}" th:text="${sum.sum}" />
				</tr>
			</table>
			<br />
		</div>
		
		<div th:if="${monthSummary != null}">
			<table border="1">
				<tr>
					<th>Month</th>
					<th th:each="sum : ${monthSummary.get(0)}" th:text="${sum.expenseTypeLabel}" />
				</tr>
				<tr th:each="sum,iter : ${monthSummary}">
					<td th:if="${clickFlags[iter.index]}">
						<a th:text="#{${'MONTH.NAME.' + (iter.index + 1)}}" th:href="@{'/expense/year/{year}/month/{month}'(month=${iter.index + 1},year=${year})}">1</a>
					</td>
					<td th:unless="${clickFlags[iter.index]}" th:text="#{${'MONTH.NAME.' + (iter.index + 1)}}" />
					<td th:each="xx : ${sum}" th:text="${xx.sum}" /> 
				</tr>
			</table>
			<br />
		</div>
	</body>
</html>