<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Paging fragments</title>
	</head>
	<body>
		<table th:fragment="pageSwitcher (targetUrl)" border="1">
			<tr>
				<td width="40px">
					<div th:if="${paging.currentPage != 1}">
						<a th:href="@{${targetUrl}(pageNumber=1,pageSize=${paging.pageSize})}">&lt;&lt;</a>
						<a th:href="@{${targetUrl}(pageNumber=${paging.currentPage - 1},pageSize=${paging.pageSize})}">&lt;</a>
					</div>
				</td>
				
				<td th:each="cnt : ${#numbers.sequence(paging.firstShown, paging.lastShown)}" width="40px">
					<span th:if="${cnt == paging.currentPage}" th:text="${cnt}">1</span>
					<a th:unless="${cnt == paging.currentPage}" th:text="${cnt}" th:href="@{${targetUrl}(pageNumber=${cnt},pageSize=${paging.pageSize})}">1</a>
				</td>
				
				<td width="40px">	
					<div th:if="${paging.currentPage != paging.pageCount}">
						<a th:href="@{${targetUrl}(pageNumber=${paging.currentPage + 1},pageSize=${paging.pageSize})}">&gt;</a>
						<a th:href="@{${targetUrl}(pageNumber=${paging.pageCount},pageSize=${paging.pageSize})}">&gt;&gt;</a>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
