<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Expenses</title>
	</head>
	<body>
		<h2>Expenses for living</h2>
		
		<form action="#" th:action="@{/expense/}" method="post" th:object="${expenseForm}">
			<p>Date <input type="text" name="date" th:value="${#dates.format(expenseForm.date, 'dd.MM.yyyy')}" /> </p>
			<p>Amount <input type="text" th:field="*{amount}" /> </p>
			<p>Type 
				<select th:field="*{expenseType}">
					<option th:each="expType : ${cbExpenseType}" th:value="${expType.key}" th:text="${expType.label}"/>
				</select> 
			</p>
			<p>Note <input type="text" th:field="*{note}" /> </p>
			<p><input  type="submit" value="Submit"/></p>
		</form>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Type</th>
				<th>Amount</th>
				<th>Note</th>
			</tr>

			<tr th:each="exp : ${expenses}">
				<td th:text="${exp.id}"></td>
				<td th:text="${#dates.format(exp.date, 'dd.MM.yyyy')}"></td>
				<td th:text="${exp.expenseTypeLabel}"></td>
				<td th:text="${exp.amount}"></td>
				<td th:text="${exp.note}"></td>
				<td>
					<form action="#" th:action="@{'/expense/{id}'(id=${exp.id})}" th:method="delete">
						<input  type="submit" value="Delete"/>
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>